<section id="bg-header" class="bg-theme"></section>
<section id="templates" class="no-padding">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 no-padding">
				<a href="javascript:void(0)" class="thumbnail thumbnail-style" title="Template's Name">
					<img src="http://placehold.it/400x400/CCCCCC" class="img-responsive">
					<div class="caption text-center">
						<h3 class="txt-style">Template's Name</h3>
					</div>
				</a>
			</div>
			<div class="col-md-3 no-padding">
				<a href="javascript:void(0)" class="thumbnail thumbnail-style" title="Template's Name">
					<img src="http://placehold.it/400x400/C5C5C5" class="img-responsive">
					<div class="caption text-center">
						<h3 class="txt-style">Template's Name</h3>
					</div>
				</a>
			</div>
			<div class="col-md-3 no-padding">
				<a href="javascript:void(0)" class="thumbnail thumbnail-style" title="Template's Name">
					<img src="http://placehold.it/400x400/BBBBBB" class="img-responsive">
					<div class="caption text-center">
						<h3 class="txt-style">Template's Name</h3>
					</div>
				</a>
			</div>
			<div class="col-md-3 no-padding">
				<a href="javascript:void(0)" class="thumbnail thumbnail-style" title="Template's Name">
					<img src="http://placehold.it/400x400/B5B5B5" class="img-responsive">
					<div class="caption text-center">
						<h3 class="txt-style">Template's Name</h3>
					</div>
				</a>
			</div>

			<div class="col-md-3 no-padding">
				<a href="javascript:void(0)" class="thumbnail thumbnail-style" title="Template's Name">
					<img src="http://placehold.it/400x400/B5B5B5" class="img-responsive">
					<div class="caption text-center">
						<h3 class="txt-style">Template's Name</h3>
					</div>
				</a>
			</div>
			<div class="col-md-3 no-padding">
				<a href="javascript:void(0)" class="thumbnail thumbnail-style" title="Template's Name">
					<img src="http://placehold.it/400x400/BBBBBB" class="img-responsive">
					<div class="caption text-center">
						<h3 class="txt-style">Template's Name</h3>
					</div>
				</a>
			</div>
			<div class="col-md-3 no-padding">
				<a href="javascript:void(0)" class="thumbnail thumbnail-style" title="Template's Name">
					<img src="http://placehold.it/400x400/C5C5C5" class="img-responsive">
					<div class="caption text-center">
						<h3 class="txt-style">Template's Name</h3>
					</div>
				</a>
			</div>
			<div class="col-md-3 no-padding">
				<a href="javascript:void(0)" class="thumbnail thumbnail-style" title="Template's Name">
					<img src="http://placehold.it/400x400/CCCCCC" class="img-responsive">
					<div class="caption text-center">
						<h3 class="txt-style">Template's Name</h3>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>